.wrapper {
	&--collection {
		/* bootstrap hack: fix content width inside hidden tabs */
		.tab-content > .tab-pane,
		.pill-content > .pill-pane {
		    display: block;     /* undo display:none          */
		    height: 0;          /* height:0 is also invisible */ 
		    overflow: hidden;
		}
		.tab-content > .active,
		.pill-content > .active {
		    height: auto;       /* let the content decide it  */
		} /* bootstrap hack end */
		.main-title {
			padding: 10px 0 25px 0;
			text-align: left;
			p {
				margin-top: 10px;
				margin-bottom: 0px;
			}
			a {
				font-size: 13px;
				font-weight: 700;
				text-decoration: underline;
			}
		}
		.text-overflow {
			max-width: 700px;
		}
	}
}