.wrapper {
	&--how-to-buy {
		.main-title {
			padding: 0px 0px 40px 0px;
			@media #{$mobile} {
				padding: 0px 0px 20px 0px;
			}
		}
	}
}
.how-to-buy {
	padding-bottom: 100px;
	&__title {
		max-width: 620px;
	}
	p {
		padding: 45px 0;
		font: 400 normal 17px $FontSecond;
		@media #{$mobile} {
			padding: 20px 0;
		}
	}
	.panel {
		border: none;
		box-shadow: none;
		&:last-child{
			.panel-heading {
				h4 {
					border-bottom: none;
				}
				a {
					&[aria-expanded="true"] {
						border-bottom: 1px solid #e9e9e9;
					}
					&[aria-expanded="false"] {
						border-bottom: none;
					}
				}
			}
		}
		&-heading {
			background-color: $main_color;
			padding: 0px;
			position: relative;
			h4 {
				border-bottom: 1px solid #e9e9e9;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
			}
			a {
				padding: 17px 40px 17px 0px;
				color: #000;
				display: block;
				position: relative;
				&:after {
					content: "";
					position: absolute;
					right: 12px;
					top: calc(50% - 6px);
					font-size: 12px;
					display: inline-block;
					font-family: 'Glyphicons Halflings';
					font-style: normal;
					font-weight: 400;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					float: right;
					color: #000;
					transition: transform .25s linear;
					-webkit-transition: -webkit-transform .25s linear;
				}
				&[aria-expanded="true"] {
					&:after {
						content: "\2212";
						-webkit-transform: rotate(180deg);
						transform: rotate(180deg);
					}
				}
				&[aria-expanded="false"] {
					&:after {
						content: "\002b";
						-webkit-transform: rotate(90deg);
						transform: rotate(90deg);
					}		
				}
			}
		}
		&-body {
			padding: 15px 10px 15px 0px;
			border-top: none;
			p {
				padding: 5px 0px;
				font: 600 normal 17px $FontFirst;
			}
		}
	}
}