.recomend {
	padding: 32px 0 65px 0;
	border-top: 1px solid #e9e9e9;
	.nav-tabs {
		border-bottom: none;
		padding-bottom: 22px;
		li {
			margin: 0px;
			// @media #{$mobile} {
			// 	float: none;
			// }
			&.active {
				a {
					font-weight: 300;
					color: #b0b0b0;
					text-decoration: none;
				}
			}
			a {
				padding: 0px;
				margin: 0px;
				border: none;
				font-size: 15px;
				font-weight: 600;
				text-transform: uppercase;
				text-decoration: underline;
				@media #{$mobile} {
					font-size: 13px;
				}
				&:hover {
					background-color: transparent;
					text-transform: uppercase;
				}
			}
		}
		li + li {
			margin-left: 20px;
			// @media #{$mobile} {
			// 	margin-left: 0px;
			// 	margin-top: 5px;
			// }
		}
	}
	.tab-pane {
	    margin-left: -50px;
	    padding-left: 50px;
	    margin-right: -50px;
	    padding-right: 50px;
	}
	.sliderui {
		&Recomend, &Viewed { 
			margin: 32px 0 5px 0;
			height: 1px;
			background-color: #bbb;
			@media #{$mobile} {
				display: none;
			}
			.ui-slider-handle {
				top: -3.5px;
				margin-left: -3em;
				height: 7px;
				width: 6em;
				background-color: #000;
				border-radius: 2.5px;
				&:focus {
					outline: none;
				}
			}
		}
	}
}
.slick, .category {
	&-recomend, &-viewed, {
		.popular {
			&__box {
				display: block;
				width: 185px;
				float: none;
				margin: auto;
				text-align: center;
				@media #{$desctop} {
					width: 170px;
				}
			}
			&__img {
				height: 270px;
				line-height: 270px;
				@media #{$desctop} {
					height: 230px;
					line-height: 230px;
				}
				img {
					display: inline-block;
				}
			}
		}
		.slick-prev, .slick-next {
			top: calc(50% - 50px);
			width: 39px;
			height: 39px;
			border: 1px solid #000;
			opacity: .3;
			transition: $main_transition;
			&:before {
				display: none;
			}
			&:after {
				content: '';
				position: absolute;
				top: 0px;
				right: 0px;
				bottom: 0px;
				margin: auto;
				width: 0px;
				height: 0px;
				border-top: 9px solid transparent;
				border-bottom: 9px solid transparent;
			}
			&:hover {
				opacity: 1;
			}
		}
		.slick-prev {
			z-index: 1;
			left: -50px;
			@media #{$mobile} {
				left: -10px;
			}
			&:after {
				left: -2px;
				border-right: 9px solid #000;
			}
		}
		.slick-next {
			right: -50px;
			@media #{$mobile} {
				right: -10px;
			}
			&:after {
				left: 2px;
				border-left: 9px solid #000;
			}
		}
	}
}