// VARIABLES
//fonts

$FontFirst: HelveticaNeueCyr, Arial, sans-serif;
$FontSecond: Georgia, Arial, sans-serif;

//other
$main_color: #fff;
$main_transition: .3s all;

$desctop-lg: "screen and (max-width: 1439px)";
$desctop: "screen and (max-width: 1199px)";
$tablet: "screen and (max-width: 991px)";
$mobile: "screen and (max-width: 767px)";

//MIXINS

$prefixes: "-webkit-", "-o-", "-moz-", "-ms-";

@mixin addPrefix($item, $val) {
	@each $tmp in $prefixes {
		#{$tmp}#{$item}:#{$val};
	}
	#{$item}: $val;
}

$prefixes-placeholder: "&::-webkit-input-", "&::-moz-", "&:-moz-", "&:-ms-";

@mixin addPrefixPlaceholder($placeholder, $item, $val) {
	@each $tmp in $prefixes-placeholder {
		#{$tmp}#{$placeholder}{#{$item}:#{$val}};
	}
	#{$placeholder}{#{$item}: $val};
}